$primary-color: #9B3DF1;
$body-font-weight: 300;
$header-font-weight: 300;
$paragraph-font-weight: 300;
$has-tip-font-weight: 300;

$anchor-font-color-hover: scale-color($primary-color, $lightness: -30%);