<div class="row">
    <div class="small-12 columns">
        <h1 class="title center"><a href="https://github.com/matt-mendonca/Ember-Markdown-Processor">m▾ processor</a></h1>

        {{outlet}}

        <div class="footer">
            <div class="panel">
                <p>Created by <a href="http://mattmendonca.com">Matt Mendonca</a> using <a href="http://emberjs.com">Ember JS</a>, <a href="https://github.com/evilstreak/markdown-js">Dominic Baggott's Markdown JS parser</a>, and <a href="http://foundation.zurb.com/">Foundation</a>.</p>
            </div>
        </div>
    </div>
</div>
